/* -------------------------------------
 * General Style
 * ------------------------------------- */
@import url(http://fonts.googleapis.com/css?family=Noto+Sans);
body {
    margin: 0;
    padding: 0 5%;
    font-size: 100%;
    font-family: "Noto Sans", sans-serif;
    color: #eee9dc;
    background: #48b379;
}

h2 {
    margin: 3em 0 0 0;
    font-size: 1.5em;
    letter-spacing: 2px;
    text-transform: uppercase;
}

/* -------------------------------------
 * timeline
 * ------------------------------------- */
#timeline {
    list-style: none;
    margin: 120px 0 0;
    padding: 0;
    border-top: 8px solid #eee9dc;
    display: table;
    border-spacing: 30px 0;
}
#timeline li {
    display: table-cell;
}
#timeline li .relative {
    position: relative;
}
#timeline p {
    margin: 0 0 15px;
}

.date {
    text-align: center;
    top: -55px;
    left: 0;
    right: 0;
    font-size: 0.95em;
    line-height: 20px;
    position: absolute;
}

.circle {
    margin: 0 auto;
    top: -14px;
    left: 0;
    right: 0;
    width: 10px;
    height: 10px;
    background: #48b379;
    border: 5px solid #eee9dc;
    border-radius: 50%;
    display: block;
    position: absolute;
}

.content {
    width: 200px;
    max-height: 0;
    margin-top: 40px;
    vertical-align: top;
    padding: 50px 15px 15px;
    transition: width 0.4s linear, max-height 0.4s linear;
    border-width: 2px;
    border-style: solid;
    border-radius: 0.5em;
    position: relative;
}
.content:before, .content:after {
    content: "";
    width: 0;
    height: 0;
    border: solid transparent;
    position: absolute;
    pointer-events: none;
    bottom: 100%;
}
.content:before {
    border-bottom-color: inherit;
    border-width: 15px;
    left: 50%;
    margin-left: -15px;
}
.content:after {
    border-bottom-color: #48b379;
    border-width: 12px;
    left: 50%;
    margin-left: -12px;
}
.content p {
    max-height: 0;
    color: transparent;
    text-align: justify;
    word-break: break-word;
    hyphens: auto;
    overflow: hidden;
}

label {
    font-size: 1.3em;
    position: absolute;
    z-index: 100;
    cursor: pointer;
    width: 200px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
    top: 60px;
    left: 15px;
}

.radio {
    display: none;
}

.radio:checked + .relative label {
    cursor: auto;
    width: 600px;
    padding-right: 15px;
    transition: width 0.3s linear 0.2s;
}
.radio:checked + .relative .circle {
    background: #f98262;
}
.radio:checked ~ .content {
    max-height: 360px;
    border-color: #eee9dc;
    width: 600px;
}
.radio:checked ~ .content p {
    max-height: 100%;
    color: #eee9dc;
    transition: color 0.3s linear 0.3s;
}
